.div_menu{
	background-color: black;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.menu{
	color: white;
}

.slider-div{
	text-align: center;
}

.footer{
	background-color: black;
	color: white;
	text-align: center;
	font-size: 20px;
}

.footer-alamat{
	background-color: black;
	color: white;
	text-align: center;
}